<?xml version="1.0" encoding="UTF-8"?>
<!--
 Asit package manages array collections

 This file is part of Asit.

 author    Kjell-Inge Gustafsson, kigkonsult <ical@kigkonsult.se>
 copyright 2020-2024 Kjell-Inge Gustafsson, kigkonsult, All rights reserved
 link      https://kigkonsult.se
 license   Subject matter of licence is the software Asit.
           The above copyright, link, package and version notices,
           this licence notice shall be included in all copies or substantial
           portions of the Asit.

           Asit is free software: you can redistribute it and/or modify
           it under the terms of the GNU Lesser General Public License as
           published by the Free Software Foundation, either version 3 of
           the License, or (at your option) any later version.

           Asit is distributed in the hope that it will be useful,
           but WITHOUT ANY WARRANTY; without even the implied warranty of
           MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
           GNU Lesser General Public License for more details.

           You should have received a copy of the GNU Lesser General Public License
           along with Asit. If not, see <https://www.gnu.org/licenses/>.
-->
<phpunit backupGlobals="false"
         bootstrap="test/autoload.php"
         cacheResult="false"
         executionOrder="default"
         processIsolation="true"
         resolveDependencies="false"
         displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
        <testsuite name="Demo/smoke Tests">
            <file>./test/DemoTest.php</file>
        </testsuite>
        <testsuite name="It Tests">
            <file>./test/ItTest.php</file>
        </testsuite>
        <testsuite name="Asit Tests">
            <file>./test/Asit1Test.php</file>
            <file>./test/Asit2Test.php</file>
        </testsuite>
        <testsuite name="Asit List Tests">
            <file>./test/AsitListTest.php</file>
            <file>./test/AsitListTest2.php</file>
        </testsuite>
        <testsuite name="Concurrency Tests">
            <file>./test/ConcurrentTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <coverage
        includeUncoveredFiles="true"
        disableCodeCoverageIgnore="true">
        <!-- Require the PHP Xdebug (2.7.0 or later) and tokenizer extensions -->
        <!-- Remove or comment after your own choice -->
        <!-- Note, all output in report/logging will be saved in 'testDocs' folder -->
        <report>
            <!-- clover outputFile="testDocs/clover.xml"/ -->
            <!-- crap4j outputFile="testDocs/crap4j.xml" threshold="50"/ -->
            <html outputDirectory="testDocs/PHPUnitCoverage" lowUpperBound="60" highLowerBound="80"/>
            <!-- php outputFile="testDocs/coverage.php"/ -->
            <!-- text outputFile="testDocs/coverage.txt" showUncoveredFiles="false" showOnlySummary="false"/ -->
            <!-- xml outputDirectory="testDocs/xml-coverage"/ -->
        </report>
    </coverage>
    <logging>
        <!-- Remove or comment after your own choice-->
        <!-- All logs will be saved in 'testDocs' folder -->
        <!-- junit outputFile="testDocs/junit.xml"/ -->
        <!-- teamcity outputFile="testDocs/teamcity.txt"/ -->
        <!-- testdoxHtml outputFile="testDocs/testdox.html"/ -->
        <!-- testdoxText outputFile="testDocs/testdox.txt"/ -->
        <!-- testdoxXml outputFile="testDocs/testdox.xml"/ -->
    </logging>
</phpunit>
