<?xml version="1.0" encoding="UTF-8"?>
<!--
 Asit package manages array collections

 This file is part of Asit.

 Support <https://github.com/iCalcreator/Asit>

 author    Kjell-Inge Gustafsson, kigkonsult <ical@kigkonsult.se>
 copyright 2020-21 Kjell-Inge Gustafsson, kigkonsult, All rights reserved
 link      https://kigkonsult.se
 version   1.6
 license   Subject matter of licence is the software Asit.
           The above copyright, link, package and version notices,
           this licence notice shall be included in all copies or substantial
           portions of the Asit.

           Asit is free software: you can redistribute it and/or modify
           it under the terms of the GNU Lesser General Public License as
           published by the Free Software Foundation, either version 3 of
           the License, or (at your option) any later version.

           Asit is distributed in the hope that it will be useful,
           but WITHOUT ANY WARRANTY; without even the implied warranty of
           MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
           GNU Lesser General Public License for more details.

           You should have received a copy of the GNU Lesser General Public License
           along with Asit. If not, see <https://www.gnu.org/licenses/>.
-->
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         syntaxCheck="false"
         bootstrap="autoload.php">
    <testsuites>
        <testsuite name="It Tests">
            <file>./test/ItTest.php</file>
        </testsuite>
        <testsuite name="Asit Tests">
            <file>./test/Asit1Test.php</file>
            <file>./test/Asit2Test.php</file>
        </testsuite>
        <testsuite name="Asit List Tests">
            <file>./test/AsitListTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist
                addUncoveredFilesFromWhitelist="true"
                processUncoveredFilesFromWhitelist="true"
        >
            <file>./src/Asit.php</file>
            <file>./src/AsitList.php</file>
            <file>./src/Asittag.php</file>
            <file>./src/AsittagList.php</file>
            <file>./src/Asmit.php</file>
            <file>./src/AsmitList.php</file>
            <file>./src/Asmittag.php</file>
            <file>./src/AsmittagList.php</file>
            <file>./src/BaseInterface.php</file>
            <file>./src/Exceptions/CollectionException.php</file>
            <file>./src/Exceptions/PkeyException.php</file>
            <file>./src/Exceptions/SortException.php</file>
            <file>./src/Exceptions/TagException.php</file>
            <file>./src/Exceptions/TypeException.php</file>
            <file>./src/It.php</file>
            <file>./src/ItList.php</file>
            <file>./src/ListTypeInterface.php</file>
            <file>./src/Traits/ListTrait.php</file>
            <file>./src/Traits/PkeyTagTrait.php</file>
            <file>./src/Traits/TagTrait.php</file>
            <file>./src/Traits/TypeTrait.php</file>
        </whitelist>
    </filter>
    <logging>
        <!-- Remove or comment after your own choice-->
        <!-- All logs will be saved in 'testDocs' folder -->
        <log type="coverage-html"
             target="testDocs/PHPUnitCoverage"
             lowUpperBound="35"
             highLowerBound="70"/>
        <!--log type="coverage-clover"
             target="testDocs/coverage.xml"/-->
        <!--log type="coverage-php"
             target="testDocs/coverage.serialized"/-->
        <log type="coverage-text"
             target="testDocs/PHPUnitReport.txt"
             showUncoveredFiles="true"/>
        <!--log type="json"
             target="testDocs/logfile.json"/-->
        <!--log type="tap"
             target="testDocs/logfile.tap"/-->
        <!--log type="junit"
             target="testDocs/logfile.xml"
             logIncompleteSkipped="false"/-->
        <!--log type="testdox-html"
             target="testDocs/testdox.html"/-->
        <!--log type="testdox-text"
             target="testDocs/testdox.txt"/-->
    </logging>
</phpunit>
